{% include 'recipe/partials/head.html' %}

<body>
    {% include 'recipe/partials/header.html' %}
    {% include 'recipe/partials/search.html' %}

    <main class="main-content-conteiner">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://via.placeholder.com/1280x720/2086c2/" alt="temporario">
                </div>

                <div class="recipe-title-container">
                    <h2 class="recipe-title">
                        Lorem ipsum dolor sit amet.
                    </h2>
                </div>

                <div class="recipe-author">
                    <span class="recipe-author-item">
                        <i class="fas fa-user"></i>
                        Cley Gabriel
                    </span>
                    <span class="recipe-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        16/10/2021 às 11:21
                    </span>
                    <span class="recipe-author-item">
                        <a href="/recipes/category/cafe-da-manha/">
                            <i class="fas fa-layer-group"></i>
                            <span>Café da manhã</span>
                        </a>
                    </span>
                </div>
                <div class="recipe-content">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Architecto aliquam tenetur ipsum ad impedit? 
                    Voluptatem sequi reiciendis ad obcaecati explicabo facere reprehenderit itaque? 
                    Placeat, pariatur quod qui voluptatem aperiam delectus?</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>